<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <ul class="collapsible popout" id="questions" data-collapsible="accordion">
      <% @questions.sort_by(&:created_at).each do |question| %>
        <%= render partial: "questions/question", locals: {question: question, creator: creator}%>
      <% end %>
    </ul>
  </div>
</div>

<% unless creator %>
  <%= render partial: "questions/new", locals: {questions: @questions, topic_id: topic_id}%>
<% end %>

