<h3>Welcome to FAQrator!</h3>

<p>FAQrator is a site all about increasing the flow of information between individuals by making it easier to ask questions.</p>

<p>Everyone you meet knows something that you don't, and doesn't know something that you do. Every single person on this planet is a treasure trove of information, and the only thing stopping you from accessing all that sweet, sweet data is knowing the right question to ask.</p>

<p>Knowing what questions to ask and when to ask them isn't always easy. Oftentimes, you're relegated to a email, or a comment thread, or some other form of communication that was built with other priorities in mind. FAQrator is a platform build specifically for asking questions. We allow anyone to create a topic which they can then share with others who are free to ask their own questions, or like questions that they would appreciate an answer to. FAQrator uses crowdsourcing to dynamically generate FAQs for any topic under the sun. </p>

<p>FAQrator was created by Lola Adekunle, Matt Falizek, and Henry Firth as their final project of their education at Dev Bootcamp Chicago.</p>