  <div class="row">
    <div class="col s12 comments">
      <ul class="collapsible" data-collapsible="expandable">
        <%= render question.comments %>
      </ul>
    </div>
  </div>

<%= render partial: "comments/new", locals: {question: question} %>