<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
      <div class="card white darken-2">
        <div class="card-content grey-text text-darken-3">
          <h5><i class="small material-icons">comment</i> Create a Topic </h5>
          <form id="new_topic" action="/topics" method="POST">
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
            <div class="input-field white ">
              <input placeholder="Title" name="topic[title]" type="text" class="validate">
              <textarea placeholder="Description" name="topic[description]" class="materialize-textarea"></textarea>
              <button class="btn-floating btn-medium waves-effect waves-light right red" type="submit" id="submit"><i class="material-icons">add</i></button>
              <div class="row">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
