<div class = "container">
  <ul class="collapsible" data-collapsible="expandable">

    <% @topics.each do |topic| %>
    	<li>
    	  <div class="collapsible-header"><%= link_to( topic.title , topic_path(topic), :'data-no-turbolink' => true) %></div>
        <div class="collapsible-body"><p><%= topic.description %></p></div>
      </li>
    <% end %>

  </ul>
</div>