<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="small material-icons">comment</i>
          <input placeholder="Title" name="topic[title]" type="text" class="validate">
          <textarea placeholder="Description" name="topic[description]" class="materialize-textarea"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>