<div = "container">
  <div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="card">
        <div class="card-content grey-text text-darken-4">
          <span class="card-title grey-text text-darken-4">Sample Topic</span>
          <p>This is my topic. It refers to the thing we did that time, you know? <em>That</em> thing? Well, I figured you might have some questions on it, so go a head and ask away. You seemed pretty confused, so hopefully this can help y'all.</p>
        </div>
      </div>
    </div>
  </div>
</div>