<div class = "container">
	<div class="row" >
	  <div class="card-panel z-depth-3 amber accent-4" style="padding: 0px;">
	    <span class="white-text">
	      <div class="stats">
	        <table style= "padding: 5px;">
			  <tr>
			    <td class="center">
			      <h4>Users</h4>  
			    </td>
			  </tr>
			</table>
		  </div>
	    </span>
	  </div>
	</div>
  <%= render 'users/users' %>
</div>